<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<p>Hello! This a photographer web site</p>
<p>You can buy courses, presets if you are a photographer</p>
<p>Or you can but photoshoot or a certificate as a gift</p>
<p>Enter your email and get your personal offer!</p>
<form name = "passdata" action = "." method = "post">
    <label>email</label>
    <input type="text" name = "email">
    <input type="submit" value="submit">
</form>
<p></p>
<a href='./edges'> Tap here to watch stats (for admins)</a>

    <p>Для тестирования можно ввести email-ы начиная с user4@gmail.com и до user20@gmail.com, а также ellenkrav@gmail.com, ivanova@gmail.com
    можно ввести свой, тогда вы будете без приветствия как новый юзер и (планируется добавить) предложить вам ввести данные и добавить в базу</p>
    <p>Демо-версия без дизайна, но можно получить персальное приветствие (если вы же в базе), а также перональное предложение</p>
    <p>Также можно увидеть статистику покупок и покупателей (делают ли в основном по одной покупке те, кто вообще покупает что-то на сайте)</p>
    <p>или купив однажду, делают покупки снова? и как много?</p>
</body>
</html>